{% extends 'base.html.twig' %}

{% block title %} React EsdPortal Application {% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('EsdPortal') }}
{% endblock %}


{% block body %}
    <div id="root"></div>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('EsdPortal') }}
{% endblock %}